#wrap2 {
    width: 100%;
    max-width: 100%;
}

.left2 {
    width: 25%;
    float: left;
    padding: 0.8em;
    background-color: #F9F9F9;
    font-size: 25px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px #CCCCCC;
}

.right2 {
    width: 25%;
    float: left;
    padding: 0.8em;
    background-color: #F9F9F9;
    font-size: 25px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px #CCCCCC;
}

.center2 {
    float: left;
    min-width: 25%;
    width: 25%;
    position: relative;
    padding: 0.8em;
    background-color: #F9F9F9;
    font-size: 25px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px #CCCCCC;
}

.clearBoth2 {
    clear: both;
}

#error {
    width: auto;
    background-color: #FF5353;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2em;
    box-shadow: 0px 0px 3px 0px #CCCCCC;
    color: #FFFFFF;
    line-height: 1.5em;
}